# Node
node_modules/
npm-debug.log*
yarn-error.log*

# formats
*.webp
*.jpg
*.png

# Build / output
output/
dist/
.apify_storage/

# Playwright
.playwright/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env
.env
